[submodule "gist"]
	path = gist
	url = http://github.com/defunkt/gist.el.git
[submodule "markdown-mode"]
	path = markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule "zen-and-art"]
	path = zen-and-art
	url = http://github.com/irfn/zen-and-art.git
[submodule "python-den"]
	path = python-den
	url = git@github.com:akrito/python-den.git
[submodule "python.el"]
	path = python.el
	url = git://github.com/fgallina/python.el.git
[submodule "auto-complete"]
	path = auto-complete
	url = git://github.com/m2ym/auto-complete.git
