[submodule "vendor/python.el"]
	path = vendor/python.el
	url = git://github.com/fgallina/python.el.git
[submodule "vendor/emacs-color-theme-solarized"]
	path = vendor/emacs-color-theme-solarized
	url = git://github.com/sellout/emacs-color-theme-solarized.git
