.org-id-locations
*.swp
auto-save-list
anything-c-adaptive-history
url/cookies
tramp
\#*
url/exec_ssl_quietly
.\#*
bbdb
session.*
auto-complete-1.3
ac-comphist.dat
snippets
yasnippet-0.6.1c
*.pyc
abbrev_defs
ensime/
local.el
*.elc
elpa/
emacs.el
bookmarks
alex
eshell/
image-dired/
thumbs/
